---
// src/pages/en/index.astro
import Layout from "../../layouts/MainLayout.astro";
import Hero from "../../components/Hero.astro";
import Video from "../../components/Video.astro";
import Niveles from "../../components/Niveles.astro";
import Agenda from "../../components/Agenda.astro";
import Footer from "../../components/footer.astro";
---

<Layout title="Nursery & Preschool | Colegio Inglés">
  <main class="bg-slate-900">
    <Hero />
    <Video />
    <Niveles />
    <Agenda />
    <Footer />
  </main>
</Layout>
